.cart .table{
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
}
.cart .table thead tr th{
    border-top:0px;
    font-size:16px;
    font-weight: bold;
    border-bottom:0px;
}
.cart .table thead tr td{
    padding-top:30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}
.cart .table tbody tr td .main .d-flex{
    padding-right:30px;
}
.cart .table tbody tr td .main .d-flex img{
    border: 2px solid #000;
    border-radius: 3px;
    height: 125px;;
    width:125px;
}
/* .cart .table tbody tr td .name{
    height: 150px;;
    width:125px;
} */
/* .cart .table tbody tr td .name p{
    margin-bottom:0px;
} */
.cart .table tbody tr td h6{
    font-size:16px;
    color:#000;
    margin-bottom: 0px;
}
.cart .table tbody tr td .counter{
    margin-bottom:0px;
}
.counter i{
    border: 1px solid #000;
    padding: 7px;
    display: inline-block;
    position: relative;
}
.cart .table tbody tr td .counter input{
    width: 100px;
    padding-left:30px;
    height: 40px;
    outline:none;
    box-shadow: none;
}